@import "tailwindcss";

@keyframes logo-spin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }100% {
    transform: scale(1);
  }
}
 .logo {
    animation: logo-spin infinite 2s linear;
  }

  @keyframes logo-sidestep {
  0% {
    transform: transLateX(0);
  }
  50% {
    transform: transLateX(1);

  }100% {
    transform: transLateX(1);

  }
}
 .logo {
    animation: logo-sidestep infinite 2s linear;
  }

